.sideBar {
  background: #fbfbfb;
  padding: 14px 18px;
  min-width: 285px;

  h1 {
    color: #3d3d3d;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 7px;
  }

  &-list {
    color: #3d3d3d;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-left: 12px;
  }

  .size {
    margin-top: 46px;
  }
}
