.selected-products {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;

  .table-basket {
    table {
      width: 782px;

      thead {
        text-align: left;
      }

      tbody {
        tr {
          height: 70px;
          background: #fbfbfb;
        }
      }
    }
  }

  &__basket-empty {
    height: 70px;
    width: 782px;
    background: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }

  &__order {
    h3 {
      color: #3d3d3d;
      font-size: 18px;
      padding-bottom: 11px;
      margin-bottom: 11px;
      font-weight: 700;
      line-height: 16px;
      border-bottom: 1px solid rgba(70, 163, 88, 0.5);
    }
    label {
      color: #3d3d3d;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;

      p {
        color: #3d3d3d;
        font-size: 15px;
        font-weight: 400;
        line-height: 16px;
      }
      span {
        color: #3d3d3d;

        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
      }
    }

    .input-code {
      display: flex;
      margin-top: 8px;

      &__box {
        display: flex;
        flex-grow: 1;
        border-radius: 3px;
        border: 1px solid #46a358;

        input {
          padding: 12px 15px;
          width: 100%;
          border: none;
          outline: none;
        }
      }
      .submit-code {
        padding: 12px 15px;
        border-radius: 0px 3px 3px 0px;
        background: #46a358;
      }
    }

    .total {
      span {
        color: #46a358;
      }
    }

    .buy {
      border-radius: 3px;
      padding: 12px 91px;
      margin-top: 24px;
    }
  }
}
